.background {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0,0.4);
}

.wizard-dialog {
    width: 600px;
    height: 75%;
    background-color: #fefefe;
    color: rgb(32, 32, 32);
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px 10px 10px 10px;
}

#wizard-header {
    text-align: left;
    font-weight: bold;
    font-size: large;
}

#wizard-body {
    display: inherit;
    margin: 30px auto;
    height: calc(100% - 140px);
}

.wizard-item {
    display: inline;
    margin: 20px;
}

.wizard-item-body {
    margin-left: 10px;
}

.wizard-item-label {
    font-weight: bold;
    font-size: medium;
}

.wizard-item-description {
    margin: 10px auto;
}

.folder-box {
    width: 70%;
}

.folder-button {
    width: 10%;
}

#wizard-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#wizard-footer > div {
    color: rgb(64, 64, 64);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
}

.enabledButton {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgb(230, 226, 221);
    color: black;
    border: 1px solid #888;
    border-radius: 3px;
    border-bottom: solid 1px rgb(105, 103, 100);
}

.enabledButton:active {
    background: rgb(167, 163, 160);
    transform: translateY(1px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.enabledButton:hover {
    border: 1px solid black;
    cursor: pointer;
}

.disabledButton {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgb(230, 226, 221);
    color: gray;
    border: 1px solid #888;
    border-radius: 3px;
    border-bottom: solid 1px rgb(105, 103, 100);
}
