<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'none'; img-src ${cspSource} https:; script-src 'nonce-${nonce}' 'unsafe-eval'; style-src ${cspSource};"
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="${cssUri}">
<link rel="stylesheet" type="text/css" href="${spinnerUri}">

<title>Configuration</title>
</head>

<body>
	<div class="container">
		<div class="topmenu">
			<div class="button" id="new">${newStr}</div>
			<div class="button" id="save">${saveStr}</div>
			<div class="button" id="load">${loadStr}</div>
			<div class="button" id="saveas">${saveasStr}</div>
			<div class="button" id="search-icon">
				<div class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
				</div>
			</div>
			<div class="button" id="visibility-icon">
				<div class="icon">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
				</div>
				<div class="tooltip">${visibilityHelp}</div>
			</div>
		</div>
		<div id="search">
			<div id="search-menu">
				<input type="search" id="search-box" placeholder="Search...">
			</div>
			<div id="search-results">

			</div>
		</div>

		<div class="contents" id="configs">
		</div>

		<div id="help"></div>
	</div>

	<div id="defconfig" class="modal">
		<div class="modal-content defconfig">
			<div id="defconfig-header">
				<h1>New Configuration</h1>
			</div>
			<div id="defconfig-body">
				<div id="defconfig-selector">
					<div id="defconfig-category">
					</div>
					<div id="defconfig-list"></div>
				</div>
				<div id="defconfig-selected">
					<p>selected defconfigs</p>
					<div id="selected-defconfig-list"></div>
				</div>
			</div>
			<div id="defconfig-footer">
				<div id="defconfig-ok">OK</div>
				<div id="defconfig-cancel">Cancel</div>
			</div>
		</div>
	</div>

	<div id="progress" class="modal">
		<div class="spinner-box">
			<div class="lds-spinner">
				<div></div><div></div><div></div><div></div><div></div><div></div>
				<div></div><div></div><div></div><div></div><div></div><div></div>
			</div>
		</div>
	</div>

	<script nonce="${nonce}" src="${progressUri}"></script>
	<script nonce="${nonce}" src="${mainUri}"></script>
	<script nonce="${nonce}" src="${defconfigUri}"></script>
</body>
</html>
