* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100vh;
}

#search-box {
    display: block;
    padding: 8px;
    width: 100%;
}

.topmenu {
    top: 0;
    margin: 8px 0px;
    max-width: 1012px;
}

.topmenu ul {
    padding: 0;
    margin: 2px;
    width: 100%;
}

.topmenu li {
    float: left;
    list-style-type: none;
    text-align: center;
    padding: 4px 16px;
}

.contents {
    display: flex;
}

a {
    color: inherit;
    background-color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor:pointer;
    white-space: nowrap;
}

.side-menu {
    min-width: 180px;
    overflow-y: auto;
}

.side-menu ul {
    padding-left: 2px;
}

.side-menu li {
    list-style-type: none;
    padding: 4px;
}

.main {
    padding-left: 20px;
    overflow: auto;
}

.hide {
    display: none;
}

/* Widget styles */

.menu-title {
    border-bottom: 1px solid rgb(128, 128, 128);
    margin-bottom: 2px;
}

.comment {
    border-bottom: 1px solid;
}

.widget {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(128, 128, 128);
    padding-top: 8px;
    margin-top: 2px;
    width: 800px;
}

.hierarchy {
    margin-top: 2px;
    margin-bottom: 2px;
    font-style: italic;
    text-align: left;
}

.prompt {
    margin-right: 8px;
}

.no-prompt {
    display: none;
}

.inactive {
    filter: opacity(30%);
}

.invisible {
    display: none;
}

.config-and-input {
    display: flex;
    align-items: baseline;
}

.config-and-input > p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.config-help {
    margin-top: 8px;
    margin-bottom: 8px;
}

.config-symbol, .config-cond {
    margin: 2px;
}

.node-child {
    filter: opacity(1);
}

select {
    padding: 2px;
    border: 1px solid rgb(128, 128, 128);
}

input[type=search] {
    padding: 2px;
    border: 1px solid rgb(128, 128, 128);
}

input[type=text] {
    padding: 4px;
    border: none;
    background-color: rgb(218, 218, 218);
}

/* defconfig selector */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    color: rgb(32, 32, 32);
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #888;
}

.defconfig {
    width: 600px;
    height: 75%;
}

#defconfig-header {
    text-align: center;
}

#defconfig-body {
    display: flex;
    margin: 8px auto;
    height: calc(100% - 110px);
}

#defconfig-selector {
    flex-grow: 1;
}

#defconfig-selected {
    flex-grow: 1;
}

#defconfig-selected p {
    color: rgb(64, 64, 64);
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    margin: auto 1px;
}

#defconfig-category {
    display: flex;
    flex-direction: row;
}

.tab {
    flex-grow: 1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    margin: auto 1px;
}

.tab:hover {
    background-color: rgb(0,153,115);
    color: white;
    cursor: pointer;
}

.tab.active {
    background-color: rgb(0,153,115);
    color: white;
}

#defconfig-list {
    display: flex;
    flex-direction: column;
    margin: 2px 8px;
    height: calc(100% - 44px);
    overflow-y: auto;
}

#defconfig-kernel {
    display: flex;
    flex-direction: column;
    margin: 2px 8px;
    width: 100%;
    height: calc(100% - 44px);
    overflow-y: auto;
}

#defconfig-kernel > .defconfig-item {
    width: 80%;
}

.defconfig-item {
    font-size: 1em;
    color: black;
    padding: 8px 20px;
    margin: 1px auto;
}

.defconfig-item:hover {
    cursor: pointer;
    font-weight: bold;
}

.defconfig-item.active {
    background-color: rgb(0,153,115);
    color: white;
}

#selected-defconfig-list {
    background-color: rgb(218,218,218);
    margin: 2px auto;
    height: calc(100% - 44px);
    width: 200px;
    overflow-y: auto;
}

#selected-defconfig-list > div {
    padding: 4px 8px;
}

#defconfig-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#defconfig-footer > div {
    color: rgb(64, 64, 64);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 14px;
}

#defconfig-footer > div:hover {
    cursor: pointer;
}

.progress {
    width: 40%;
}
