.vscode/**
.vscode-test/**
images/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
tslint.json
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/.eslintrc.json
**/*.map
**/*.ts
test-resources/**
