
config SYMBOL_BOOL_Y
	bool
	default y

config SYMBOL_BOOL_N
	bool
	default n

#config SYMBOL_TRI_Y
#	tristate
#	default y

#config SYMBOL_TRI_M
#	tristate
#	default m

#config SYMBOL_TRI_N
#	tristate
#	default n

config SYMBOL_INT_1024
	int
	default 1024

config SYMBOL_HEX_0X100
	hex
	default 0x100

config SYMBOL_STR_HELLO
	string
	default "hello"
